<div class="container mt-3">
  <h1><%= @chatThread.title %></h1>
  <p><%= @chatThread.description %></p>

  <% if @posts.present? %>
    <ul class="list-group">
      <% Array(@posts).each do |post| %>
        <li class="list-group-item">
          <% if post.archived_at == nil %>
            <div>ユーザーID: <%= post.user_id %></div>
            <div>作成日時<time datetime="<%= post.created_at %>"><%= post.created_at %></time></div>
            <div><%= post.content %></div>
            <% if @currentUser != nil && @currentUser.id == post.user_id %>
              <div>
                <%= button_to "削除する", "/boards/#{@board.id}/thread/#{@chatThread.id}/posts/#{post.id}", class: "btn btn-danger", method: :delete, data: { turbo_confirm: "本当に削除しますか?" } %>
              </div>
            <% end %>
          <% else %>
            <p>この投稿は削除されました</p>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p>投稿がありません。</p>
  <% end %>

  <%= form_with model: @post, url: "/boards/#{@board.id}/thread/#{@chatThread.id}/posts" do |f| %>
    <%= hidden_field_tag :board_id, @board.id %>
    <div class="mt-3">
      <%= f.label :content, "投稿内容", class: "form-label" %>
      <%= f.text_area :content, class: "form-control", placeholder: "投稿内容を入力してください" %>
    </div>

    <%= f.submit "投稿する", class: "btn btn-primary mt-3" %>
  <% end %>

  <hr>

  <%= link_to "#{@board.title}のスレッド一覧に戻る", "/boards/#{@board.id}" %>
</div>
